<!-- ======= About Section ======= -->
<section id="about" class="about">

    <div  data-aos="fade-up">
        
        <div class="row">
            <h3>About Us</h3>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">

                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <!-- <h3></h3> -->
                <p class="fst-italic">
                    Welcome to our scholarship website! We are dedicated to helping students achieve their academic and career goals by providing financial assistance through scholarships. Our team is passionate about education and believes that every student deserves the opportunity to pursue their dreams, regardless of their financial situation.


                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Our website offers a wide range of scholarships for students of all backgrounds and academic levels. We work with various organizations, foundations, and individuals who share our mission of supporting students in their educational journey.</li>
                    <li><i class="ri-check-double-line"></i>We understand that the cost of education can be a significant barrier for many students, and we are committed to making a positive impact on their lives by providing financial aid.</li>
                    <li><i class="ri-check-double-line"></i> Our team is composed of experienced professionals who are dedicated to ensuring that every student has access to the resources they need to succeed. We believe in transparency, fairness, and equal opportunities for all students..</li>
                </ul>

                @*<div class="text-center"><p class="">@Html.ActionLink("More", "About", "Home")</p></div>*@
                @*<p>
                Thank you for visiting our scholarship website. We look forward to helping you achieve your academic and career aspirations.
            </p>*@
            </div>
        </div>

 <!-- End About Section -->