@model List<FinalProject.Models.scholarship>

@{
    ViewBag.Title = "ScholarshipPage";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
}
<section>
<div class="row pt-4">
    @foreach (var Scholar in Model)
    {
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 " data-aos="zoom-in" data-aos-delay="200">
        <a href="/Scholarship/IndividualPage/@Scholar.ID">
            <div class="card ">
                <img src="~/assets/img/about.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Scholar.Name</h5>
                    <p class="card-text">@Scholar.Percentage</p>
                </div>
            </div>
        </a>
    </div>
    }
    </div>
</section>

    @*@Html.ActionLink("More", "ScholarshipPage", "Scholarship")*@

